@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// color  pallete // 

$activeColor-active : #0266FF;
$borderColor-normal : #9D9DB5;
$font-color: #10131C;
$dates-color: #9D9DB5;
$cardsBgcolor : #F8F9FC;
$logoColor : #DCF10D;
$footerFonts: #D7F8FF;
$footertitle :#FFF;

//background
$header-footer: #192140;
$shadow : linear-gradient(180deg, #192140 0%, rgba(2, 2, 2, 0) 100%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;



}

.container {
    width: 1200px;
    background-color: #10131C;



    .top-container {

        display: flex;
        gap: 2px;

        p {
            a {
                color: $footertitle;

            }
        }
    }

    header {
        background-color: $header-footer;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        position: relative;


        h1 {
            font-size: 20px;
            color: $logoColor;


        }

        .menu-icon {
            i {
                font-size: 30px;
                color: $footertitle;
                transition: .3s ease;
                cursor: pointer;

            }
        }

        .menu-icon:hover {
            i {
                color: $logoColor;

            }
        }

        nav {
            width: 0;
            padding-top: 10px;
            background-color: #10131C;
            position: absolute;
            height: 200px;
            z-index: 2;
            top: 50px;
            left: 0;
            transition: .30s ease-in-out;


            ul {
                transform: translateX(-200px);
                display: flex;
                flex-direction: column;
                gap: 10px;

                li {

                    list-style: none;

                    a {

                        color: $borderColor-normal;
                        transition: .5s ease;
                    }

                    a:hover {
                        color: $logoColor;
                    }

                    a.active {
                        color: $logoColor;
                    }
                }


            }

            .log-in {
                transform: translateX(-300px);
                padding-top: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                a {


                    color: $borderColor-normal;
                }
            }
        }

        nav.active {

            width: 100%;

            ul {
                transform: translateX(0);
            }

            .log-in {
                transform: translateX(0);
            }
        }

    }

    main {
        width: 100%;
        background-color: $cardsBgcolor;

        .main-container {
            width: 100%;


            .card-holder {
                min-width: 255px;

                .image-container {
                    width: 100%;
                    height: 220px;
                    position: relative;
                    overflow: hidden;
                    background: $shadow;

                    .image-layer {
                        position: absolute;
                        padding: 40px 40px;
                        transform: translateY(-200px);
                        transition: .6s ease-in-out;
                        z-index: 1;



                        p {
                            font-size: 12px;
                            font-weight: 400;
                            color: $footertitle
                        }

                        #close-card {
                            border: 2px solid $borderColor-normal;
                            width: 20px;
                            height: 15px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            padding: 10px;
                            position: absolute;
                            top: 5px;
                            right: 5px;
                            cursor: pointer;
                            transition: .5s ease;
                            z-index: 1;

                            i {
                                font-size: 16px;
                                transition: .5s ease;


                            }


                        }

                        #close-card:hover {
                            border-color: red;

                            i {
                                color: white;
                            }


                        }
                    }

                    .image-layer.active {
                        transform: translateY(0);
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .card-info {
                    display: flex;
                    flex-direction: column;
                    padding-top: 5px;
                    gap: 5px;

                    #check-mark {
                        width: 100%;
                        height: 20px;
                        cursor: pointer;

                        transition: .5s ease;




                        p {
                            width: 16px;
                            height: 16px;
                            border: 1px solid $borderColor-normal;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            i {
                                font-size: 12px;
                                color: $borderColor-normal;
                            }

                        }

                    }

                    #check-mark:hover {
                        p {
                            border-color: $activeColor-active;

                            i {
                                color: $activeColor-active;
                            }
                        }
                    }

                    .dates-likes {
                        display: flex;
                        justify-content: space-between;
                        border-top: 1px solid $font-color;
                        padding: 5px;

                        #date {

                            p {
                                border: 1px solid $borderColor-normal;
                                color: $borderColor-normal;
                                font-size: 12px;
                                border-radius: 40px;
                                padding: 5px;
                            }
                        }

                        #likes {
                            display: flex;
                            gap: 5px;

                            p {
                                display: flex;
                                align-items: center;
                                color: $borderColor-normal;


                                i {
                                    font-size: 16px;
                                }
                            }
                        }

                        #likes:hover {
                            i {
                                color: $activeColor-active
                            }
                        }
                    }
                }
            }

            .card-holder.delete {
                display: none;
            }
        }
    }

    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 15px 40px;
        gap: 10px;

        .blog-courses {
            display: flex;
            flex-direction: column;
            gap: 10px;

            #blog {
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    color: $footertitle;
                    font-size: 16px;
                    font-weight: 700;
                }

                ul {
                    display: flex;
                    justify-content: space;
                    flex-wrap: wrap;
                    gap: 10px;

                    li {
                        list-style-type: none;

                        a {
                            font-size: 12px;
                            color: $footerFonts;
                            text-decoration: none;
                        }
                    }
                }
            }

            #courses {
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    color: $footertitle;
                    font-size: 16px;
                    font-weight: 700;
                }

                ul {
                    display: flex;
                    justify-content: space;
                    flex-wrap: wrap;
                    gap: 10px;

                    li {
                        list-style-type: none;

                        a {
                            font-size: 12px;
                            color: $footerFonts;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .socials {
            display: flex;
            flex-direction: column;

            gap: 10px;

            h3 {
                color: $footertitle;
                font-size: 12px;
                font-weight: 700;


            }

            ul {
                display: flex;
                justify-content: space-between;
                list-style: none;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1px;
                    border-radius: 50%;
                    background-color: #10131C;
                    width: 25px;
                    height: 25px;

                    a {
                        color: $borderColor-normal;
                        font-size: 16px;
                    }

                }
            }

            #terms {
                display: flex;
                justify-content: end;
                gap: 5px;

                p {
                    font-size: 12px;
                    color: $borderColor-normal;

                    a {
                        text-decoration: none;
                        color: $borderColor-normal;
                    }
                }
            }
        }
    }
}